button{
  color: black;
  margin-top: 2rem;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background-color: white;
  padding: 12px 10px;
}
button:hover{
 background-color:#F3F0D7;
}
h2{
  margin-top: 0rem;
  font-size: 2.5rem;
}

.fab
{
  margin-top: 2rem;
  font-size: 2.5rem;
}
.column1{
  height: 100%;
  float: left;
  width: 90%;
}
.column2{
  height: 100%;
  float: left;
  width: 10%;
}
.row{
  height: 100px;
  padding: 20px 50px 0px 30px ;
}

.box{
  background-color: #FCFFA6;
}

.box2{
  margin-left: 100px;
}

.avatar{
  border-radius: 50%;
}


.column3{
  float: left;
  width: 33%;
}



.profile {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  max-width: 200px;
  margin: 10px 5px;
  text-align: center;
  font-family: arial;
  padding: 15px;
  border-radius: 18px;
  background-color: #FCFFA6;
}

.profile:hover{
  transition:400ms;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}
.email {
  color: rgb(59, 52, 52);
  font-size: 18px;
  overflow-wrap: anywhere;
}
.name{
  font-size:25px;
  font-weight: bold;
}
.loader{
  visibility: hidden;
  text-align: center;
  margin-left: 300px;
  margin-top: 100px;
  margin-right: 80px;
}
